Show a list of products
Add products to a shopping cart (CRUD)
Shopping cart check out
User login/logout security
Track previous orders for logged in users.

Release 1.0

Must show a list of products

Release 2.0

Add products to shopping cart (CRUD)
Shopping cart check out

Release 3.0
User login/logour security
Track previous orders for logged in users